.accordion-container-unique {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 5%;
  background-color: white;
}

.faq-header-unique {
  margin-bottom: 3.13vw; 
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: -0.078125rem;
  text-align: center;
  font-weight: 500;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 700;
}

.accordion-item-unique {
  border-bottom: 0.15vw solid#1967d2; 
  padding: 0.52vw 0;
  cursor: pointer;

  &:active {
    border-bottom: 0.26vw solid #1967d2; 
  }
}

.accordion-title-unique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  color: #1967d2;
}

.accordion-title-unique h3 {
  color: #1967d2;
  transition: all 0.5s ease;
  font-size: 1.56vw; 
  line-height: 1.3rem;
}

.accordion-title-unique span {
  font-size: 1.56vw; 
  color: #1967d2;
  font-weight: bold;
}

.accordion-content-unique {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-width: 60.88vw; 
}

.accordion-content-unique.active {
  max-height: 26.04vh; 
}

.accordion-content-unique p {
  padding: 0.52vw 0;
  font-size: 1.04vw; 
  color: #555;
  line-height: 1.5;
}


// small screen 

@media (max-width: 767px) {
  .accordion-container-unique {
    width: 90%;

  }
  .faq-header-unique {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .accordion-item-unique {
    padding: 1vh 0; 
  }

  .accordion-title-unique h3 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .accordion-title-unique span {
    font-size: 1.2rem;
  }

  .accordion-content-unique {
    max-width: 90vw;
  }

  .accordion-content-unique p {
    padding: 2vh 0;
    font-size: 0.9rem;
  }
}


// tab screen 

@media (min-width: 768px) and (max-width: 1023px) {
  .accordion-container-unique {
    width: 90%;

  }
  .faq-header-unique {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .accordion-item-unique {
    padding: 2vh 0;
  }

  .accordion-title-unique h3 {
    font-size: 1.4rem;
    line-height: 1.3rem;
  }

  .accordion-title-unique span {
    font-size: 1.4rem;
  }

  .accordion-content-unique {
    max-width: 85vw;
  }

  .accordion-content-unique p {
    padding: 4vh 0;
    font-size: 1rem;
  }
}
