.footer {
  background-color: #f1f3f4;
  padding: 2.08vh 4.17vw;
  font-family: Arial, sans-serif;
  font-size: 0.92rem;

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 2.08vh 0;
    border-bottom: 0.13vh solid #ddd;

    .footer-social {
      display: flex;
      align-items: center;
      gap: 5.21vw;

      p {
        font-size: 1rem;
        font-weight: bold;
        color: #5f6368;
        font-weight: 600;
      }

      .footer-icons {

        a {
          color: #000;
          margin-right: 2.08vw;
          font-size: 2.08vw;

          &:hover {
            color: #0073e6;
          }
        }
      }
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    padding: 2.08vh 0;

    .footer-column {
      width: 20%;

      h4 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2.08vh;
        font-weight: 600;
        color: #5f6368;
      }

      a {
        display: block;
        color: #5f6368;
        text-decoration: none;
        margin-bottom: 0.83vh;
        font-size: 1rem;
        line-height: 1.5rem;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: #000;
          transition: all 0.1s ease-in-out;
        }

        &:hover .footer-arrow {
          padding: 0 2%;
          padding-bottom: 1%;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 2.08vh;
    border-top: 0.13vh solid #ddd;
    padding-bottom: 4%;

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 6.25vw;
      font-size: 1rem;

      p {
        font-size: 2.08vw;
        font-weight: bold;
        color: #5f6368;
      }
    }

    .footer-links-bottom {
      a {
        margin-right: 4.38vw;
        color: #202124;
        text-decoration: none;
        font-size: 1rem;
        color: #5f6368;

        &:hover {
          color: #000;
        }

        .footer-help {
          padding: 0.52vh 1.04vw;
          color: white;
          background-color: #5f6368;
          border-radius: 50%;
        }
      }

      select {
        font-size: 1rem;
        border: none;
        border-bottom: 0.13vh solid #202124;
        background-color: #f1f3f4;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 6vh 4vw;

    .footer-top {
      padding: 5vh 0;
    }

    .footer-social {
      gap: 4vw;

      p {
        font-size: 0.83rem;
      }

      .footer-icons {

        a {
          font-size: 4.17vw;
          margin-right: 4vw;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 5vh 5vw;

    .footer-top {
      padding: 4vh 0;
    }

    .footer-social {
      gap: 5vw;

      p {
        font-size: 0.92rem;
      }

      .footer-icons {

        a {
          font-size: 2.5vw;
          margin-right: 2.5vw;
        }
      }
    }
  }
}
