.header {
  display: flex;
  align-items: center;
  padding: 0 2.08vw;
  background-color: #fff;
  box-shadow: 0 0.21vh 0.83vh 0 rgba(32, 33, 36, 0.08);
  height: 8.67vh;
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #5f6368;

    img {
      margin-right: 0.73vw;
      width: 3.0vw;
      padding: 0;
    }

    .logo-sub-container {
      display: flex;
      align-items: center;
    }
  }

  nav {
    margin-left: 2.92rem;
    flex: 1;

    .nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        margin-right: 0;
        padding: 1.04vh 0 0 0;
        padding: 1.04vh 1.25vw;

        &:hover {
          background-color: #f4f7fa;
          padding: 1.04vh 1.25vw;
          border-radius: 0.52vw;
        }

        &:focus {
          color: black;
        }

        a {
          text-decoration: none;
          font-size: 1.1vw;
          color: #6d737be5;
          display: flex;
          font-weight: 550;
          align-items: center;
          border-bottom: 1px solid transparent;

          &:hover {
            color: #0073e6;
          }

          svg {
            margin-left: 0.52vw;
          }

          &:active {
            color: black;
          }

          &:focus {
            color: black;
            height: 5vh;
            border-bottom: 0.31vh solid #0073e6;
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #fff;
          border: 1px solid #ccc;
          box-shadow: 0 0.42vh 0.83vh rgba(0, 0, 0, 0.1);
          padding: 1.04vh;
          list-style: none;
          width: 13.5vw;
          z-index: 10;
          transition: opacity 0.3s ease, visibility 0.3s ease;

          li {
            margin-bottom: 1.04vh;
            width: 90%;
            margin: 0 auto;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: #5f6368;

              &:hover {
                color: #0073e6;
              }
            }
          }
        }

        &:hover .dropdown-menu {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
