.moving-images-container {
    display: flex;
    overflow: hidden;
    width: 100%; 
    margin: 0 auto;
  
    .image-row {
      display: flex;
      gap: 20px;
      transition: all 0s ease-in-out;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
  
      .landscape {
        width: 800px;
        height: auto;
      }
  
      .vertical {
        width: auto;
        height: auto;
      }
    }
  }
  