.navbar-main-container {
    width: 80vw;
    margin: 0 auto;
    position: sticky;
    top: 10px;
    z-index: 10001;

    .navbar-sub-container {
        width: 40vw;
        overflow: hidden;
        margin: 0 auto;
        background-color: white;
        border-radius: 50px;
        box-shadow: 2px 3px 7px #b1b1b1,
            -2px -3px 7px #b1b1b1;


        .nav-list {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-right: 0px;
                padding: 20px 20px;

                &:hover {
                    background-color: #e2eefb;
                    padding: 10px 20px;
                    border-radius: 25px;
                }

                &:focus {
                    color: black;
                    height: 52px;
                    border-bottom: 3px solid #0073e6;

                }


                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #6d737be5;
                    display: flex;
                    font-weight: 550;
                    align-items: center;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        color: #0073e6;
                        background-color: #ecf3fa;

                    }


                    &:active {
                        color: black;
                    }

                    &:focus {
                        color: black;
                        height: 48px;
                        border-bottom: 3px solid #0073e6;


                    }


                }

               




            }
            .download-btn {
                background-color: #0073e6;
                color: white;
                padding: 10px 25px;
                border-radius: 20px;
                border: 2px solid #0073e6;
                cursor: pointer;

                &:hover{
                    background-color: transparent;
                    color: #0073e6;
                }
            }
        }
    }

}